{% extends 'layout/base.html' %}
{% block content %}

<style>
    body {
 background: #1fedd8;
 background: linear-gradient(to right,#00f1e9, #28a5f9);
}

.search-input {
    width: 100%;
    /* Use full width of the parent */
}

</style>

<div class="d-flex flex-column align-items-center mt-5">
    <h2>How can we help you ?</h2>
    <div class="input-group" style="width: 500px; height: 60px;"> <!-- Set a fixed width for the input group -->
        <input aria-describedby="basic-addon2" aria-label="Search" class="form-control search-input"
            placeholder="Search for..." type="text">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </div>
</div>

{% endblock %}